@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    background-color: #5E6572;
    text-align: center;    
}
/*.heading{
    
    
}
*/
.waviy {
    padding-top:2rem ;
    font-size: larger;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size:8vmin ;
    color: #1C2321;
    background-color:#A9B4C2;

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #000;
    font-size: 8vmin;
    font-style:normal;

}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4 rem;

}

.hide{
    display: none;
}